@import "tailwindcss";

:root {
  --background: #27241e;
  --foreground: #fffff7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
